<div class="container">
  <div class="row col-lg-12 col-md-12">
    <div class="col-lg-12 col-md-12">
      <%= react_component 'hello' %>
    </div>
    <div class="col-lg-8 col-md-8 trainer-profile">
      <span style="float: right;"><%= link_to 'Novo time', new_team_path %></span>
      <p>Seus Times</p>
      <% @teams.each do |team| %>
        <%= link_to team_path(team) do %>
        <div class="team">
          <%= team.name %>
          <% team.pokemons.each do |poke| %>
            <%= image_tag PokeApi.get(pokemon: poke.name).sprites.front_default, height: '30px' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>    
  </div>
</div>