<%= @team.name %> <br>
<%= link_to 'Adicionar Pokemon', new_team_pokemon_path(@team) %><br><br>
<% @team.pokemons.each do |poke| %>
  <p>
  	<%= image_tag PokeApi.get(pokemon: poke.name).sprites.front_default %><%= poke.name %> | 
  	<% PokeApi.get(pokemon: poke.name).types.each do |t| %>
  	  <%= t.type.name %>
  	<% end %>
  	<%= link_to 'remover', team_pokemon_path(@team, poke), method: :delete %>
  </p>
<% end %>