<%= react_component 'hello' %>
<%= link_to 'Sair', destroy_trainer_session_path, method: :delete %>
<%= current_trainer.name %>
<%= link_to 'Novo time', new_team_path %>
<% @teams.each do |team| %>
  <p><%= link_to team.name, team_path(team) %></p>
<% end %>