<!DOCTYPE html>
<html>
  <head>
    <title>Poketest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if signed_in? %>
      <%= react_component 'navbar', {link: '/trainers/sign_out', login: (current_trainer.login), trainer: (url_for current_trainer), logo: (image_path 'pokebola.png')} %>
    <% end %>
    <%= yield %>
  </body>
</html>
